:root {
    --primary-color: #ff5a5f;
    --accent-color: #ffab61;
    --text-color: #333;
    --background-color: #fff;
    --button-bg-color: #ff5a5f;
    --button-text-color: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

@keyframes backgroundFlicker {

    0%,
    100% {
        background: #ffc9cb;
    }

    15% {
        background: #ffab61;
    }

    30% {
        background: #ffdc73;
    }

    45% {
        background: #ffab61;
    }

    60% {
        background: #fa898c;
    }

    75% {
        background: #ffab61;
    }
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    color: var(--text-color);
    animation: backgroundFlicker 6s ease-in-out infinite;
}

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

@media (max-width: 768px) {
    .menu img {
        width: 250px;
        height: auto;
    }
}

@media (min-width: 769px) {
    .menu img {
        width: 400px;
        height: auto;
    }
}

.menu {
    color: white;
    padding: 20px;
    text-align: center;
}

.menu h1 {
    margin: 0;
    font-size: 24px;
}

.menu a {
    display: inline-block;
}

@media (max-width: 768px) {
    .menu a {
        margin-bottom: 10px;
    }
}


.button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: 1px solid var(--text-color);
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--button-bg-color);
}

.cont-home,
.cont-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.cont-all-profiles {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

@media (min-width: 600px) {
    .cont-all-profiles {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}

@media (min-width: 900px) {
    .cont-all-profiles {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
}

@media (min-width: 1200px) {
    .cont-all-profiles {
        grid-template-columns: repeat(4, minmax(200px, 1fr));
    }
}

@media (min-width: 1800px) {
    .cont-all-profiles {
        grid-template-columns: repeat(5, minmax(200px, 1fr));
    }
}


.cont-profile {
    border: 1px solid #eee;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--background-color);
}

.cont-profile:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    box-shadow: black 0px 0px 10px;
}

.profile-img {
    width: 100%;
    height: 300px;
    border-bottom: 1px solid #eee;
}

.cont-profile h2,
.cont-profile p {
    margin: 10px;
}

@media (max-width: 768px) {
    .cont-all-profiles {
        grid-template-columns: 1fr;
    }

    .menu h1 {
        font-size: 20px;
    }

    .button {
        padding: 8px 16px;
    }
}

.cont-profile div {
    padding: 10px;
    background-color: var(--accent-color);
    color: white;
}

strong {
    font-weight: bold;
}

.cont-LoginAndSignup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 40px;
}

.cont-LoginAndSignup button {
    padding: 20px 40px;
    font-size: 20px;
    border: rgb(96, 96, 96) solid 0.5px;
    border-radius: 10px;
}

.cont-login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.cont-form {
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: max-content;
}

.signup {
    padding-top: 25px;
    padding-bottom: 25px;
}

.cont-form h1 {
    color: var(--primary-color);
    margin-bottom: 20px;
}

.cont-form input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--button-text-color);
    margin: 10px 0;
    cursor: pointer;
    font-size: 16px;
    transition: opacity 0.3s;
}

.button:hover {
    opacity: 0.9;
}

.dialog-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

dialog {
    display: block;
    margin: auto;
    max-width: 400px;
    position: absolute;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.cont-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-bottom: 2px solid #ccc;
}

@media (max-width: 768px) {
    .cont-filter {
        flex-direction: column;
        padding: 10px;
    }

    .cont-filter input,
    .cont-filter button {
        width: 100%;
        margin: 5px 0;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .cont-filter {
        flex-wrap: wrap;
    }

    .cont-filter input,
    .cont-filter button {
        flex: 1 1 auto;
        margin: 5px;
    }
}


.cont-filter-profiles {
    padding-top: 20px;
}

.cont-profile-design:last-of-type {
    border-bottom: none;
}

.cont-profile-page {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cont-profile-design {
    width: 100%;
    margin-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

@media (max-width: 600px) {
    .cont-profile-page {
        padding: 5px;
    }

    .cont-profile-design {
        padding: 5px;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .cont-profile-page {
        padding: 10px;
    }
}

@media (min-width: 901px) {
    .cont-profile-page {
        max-width: 800px;
        margin: auto;
    }
}